
html{ min-height:100%; overflow-y:scroll;  background:#000; }
body{ font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; padding:0; }

a{ text-decoration:none; }

#wrap{ overflow:hidden; padding:3%; }
#pbOverlay.show ~ #wrap{ -webkit-filter:blur(2px) grayscale(.4); }
		
#gallery{ margin: auto; padding:20px; width: 900px; text-align: center;}
#gallery li{ padding: 10px; list-style:none; perspective:100px; -webkit-perspective:100px; display: inline-block; position:relative; -webkit-transition:.1s; transition:.1s; -webkit-transition:0.1s;}
#gallery li.video::before{ content:'\25BA'; color:#FFF; font-size:20px; height:20px; width:20px; line-height:0.9; position:absolute; bottom:3px; left:4px; z-index:1; background:rgba(0,0,0,0.4); box-shadow:0 0 0 3px rgba(0,0,0,0.4); border-radius:0 3px 0 0; pointer-events:none; opacity:0; -webkit-transition:.5s 0.2s; transition:.5s 0.2s; }
#gallery li.loaded.video::before{ opacity:1; }
#gallery a{ display:block; width:160px; height:160px; vertical-align:bottom; overflow:hidden; background:rgba(0,0,0,0.1);
-webkit-transition:.4s ease-out;
transition:.4s ease-out; -webkit-transition:0.4s ease-out; -webkit-transform:rotateX(90deg) translate(-50px,-50%); transform:rotateX(90deg) translate(-50px,-50%); }
#gallery a:active, #gallery a:focus{ outline:none; }
#gallery a img{ min-height:100%; width:100%; -webkit-transition:.3s ease-out; transition:.3s ease-out; -webkit-transition:0.3s ease-out; }
#gallery .loaded a{ -webkit-transform:rotateX(0deg) translate(0,0); transform:rotateX(0deg) translate(0,0); }
#gallery li.loaded:hover{ z-index:2; transform:scale(1.5); -webkit-transform:scale(1.5); }
#gallery li.loaded a:hover{ box-shadow:0 0 0 2px #FFF, 0 0 20px 5px #000; -webkit-transition:.1s; transition:.1s; -webkit-transition:0.1s; }
#gallery li.loaded:hover img{ transform:scale(1.2); -webkit-transform:scale(1.2); }
#gallery li.loaded.video:hover::before{ opacity:0; }

.title_container
{
    color: whitesmoke;
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.button
{
    padding: 15px 25px;
    width: 140px;
    margin: 5px 5px;
    transition-duration: 0.5s;
    text-align: center;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
}

.button:hover
{
    background-color: black;
    color: whitesmoke;
    border: 2px solid red;
    border-radius: 12px;
}

.container 
{
    margin-top: 15px;
    height: 10px;
    padding: 25px;
    position: relative;
}
  
.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}